{"234":{
		"Site":"CENT",
		"ALIAS":{"SNOW_TARE":"SWE_TARE"},
		"model":"1000",
		"components":["SA","shlt","snow","PAR","pyranometer"],
		"measure":{
					"PAR":{"Instrument":"",
						"calibration dates":[],
						"Ground":"Clear",
						"DiffChan":{"2":{"H":"Brown","L":"Black"}},
						"offset":"0",
						"coef":"280.9"
						},
					"SOLAR_Wm2":{"Instrument":"",
						"calibration dates":[],
						"Ground":["Clear","Black"],
						"DiffChan":{"1":{"H":"Red","L":"Blue"}},
						"offset":"0",
						"coef":"98.4834"
						},
					"SA_PRECIP":{"Instrument":"",
						"calibration dates":[],
						"Ground":"Bare",
						"DiffChan":{"3":{"H":"White","L":"Resistor"}},
						"12v":"Red",
						"offset":"-184.31",
						"coef":"3.716"
						},
					"SH_PRECIP":{"Instrument":"",
						"calibration dates":[],
						"Ground":["Green", "White", "White"],
						"DiffChan":{"4":{"H":"Black", "L":"Resistor"}},
						"12v": "Red",
						"offset":"-237.48",
						"coef":"4.7880"
						},
					"SWE":{"Instrument": "Druck",
						"calibration dates": [],
						"Ground": ["White"],
						"DiffChan":{"5":{"H": "Yellow", "L": "Blue"}},
						"Vx": {"1": "Red"},
						"offset":"0",
						"coef":"718.76"
						},
					"SA_TEMP":{"Instrument": "T107",
						"calibration dates": [],
						"Ground": ["Clear", "Purple"],
						"SE": {"11": "Red"},
						"Vx": {"3": "Black"}
						},
					"SH_TEMP":{"Instrument": "T107",
						"calibration dates": [],
						"Ground": ["Clear", "Purple"],
						"SE": {"12": "Red"},
						"Vx": {"3": "Black"}
						},
					"AIR_TEMP":{"Instrument": "T107",
						"calibration dates": [],
						"Ground": ["Clear", "Purple"],
						"SE": {"13": "Red"},
						"Vx": {"3": "Black"}
						},
					"TIPPING_B":{"Instrument": "HJA Tipping Bucket",
						"calibration dates": ["Dec. 2016"],
						"Ground": ["Black"],
						"PChan": {"1": "Red"}
						},
					"SNOW_RAW_DIST":{"Instrument": "SR50A",
						"calibration dates": [""],
						"Ground": ["Black", "Clear", "White"],
						"Com": {"3": "Green"},
						"12v": "Red",
						"SNOW_INITIAL_DISTANCE":"3.35"
						},
					"SA_PUMP":{"Instrument": "",
						"calibration dates": [""],
						"Ground": ["Black"],
						"Com": {"8": "Blue"}
						}
					}
		}
}
